

<!DOCTYPE html>
<html>

  <head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap">
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap">

 
  <%= stylesheet_link_tag "style.css" %>
<style>
			h1 {
					font-family: 'Fugaz One';
					font-size: 160px;
			}
</style>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    </head>
	<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2>you got a ticket, come enjoy the show.</h2>

	<body>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

  
<h1><a  class="go_home" href="/api/showings"> 	chikiTheaters 	</a></h1>


		
	</body>

</html>	